/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}
/* NEW */

html {
    /*height: 100% !important;*/
}

body {
    /*height: 100%;*/
    margin: 0;
    background-color: #000;
}


h1 {
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.main-container-wrapper {
background: #272b2e; /* Old browsers */
background: -moz-linear-gradient(top,  #272b2e 0%, #000000 90%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#272b2e), color-stop(90%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #272b2e 0%,#000000 90%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #272b2e 0%,#000000 90%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #272b2e 0%,#000000 90%); /* IE10+ */
background: linear-gradient(to bottom,  #272b2e 0%,#000000 90%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272b2e', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.container-disq {
    width: 960px;
    margin: auto;
    background-color: #fff;
    margin-bottom:20px;
    padding: 20px;
}

.counter_wrapper {

}

.counter_button {
    width: 210px;
    margin: auto;
    position: relative;
}

.counter_button .hit {
    float: left;
    color: #eaeaea;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 48px;
    background-image: url("/static/button.png");
    background-position: 0 0 ;
    background-repeat: no-repeat;
    width: 210px;
    height: 211px;
    line-height: 211px;
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.counter_button .hit:hover {
    background-position: -210px 0;
}

.counter_button .hit:active {
    background-position: -420px 0;
    font-size: 46px;
}

.text {
    color: #636466;
    font-size: 16px;
    line-height: 18px;
}

.u_pressed {
    font-size: 48px;
    line-height: 211px;
    font-weight: bold;
    position: absolute;
    left: 250px;
}

.clicked {
    width: 19px;
    background-image: url("/static/glyph.png");
    height: 30px;
    display: block;
    position: absolute;
    top: 90px;
    background-position: -28px 0;
    right: -30px;
}

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('/static/font/helveticaneuecyr-roman-webfont.eot');
    src: url('/static/font/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/font/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('/static/font/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
         url('/static/font/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

.earth_copy {
    color: #262626;
    font-size: 16px;
    position: absolute;
    bottom:0;
    left:-70px;
    line-height: 18px;
    font-family: 'helveticaneuecyrroman';
}

.earth {
    position: relative;
    clear: both;
    background: url("/static/earth.png") no-repeat 0 0;
    width: 572px;
    height: 574px;
    margin: auto;
}
.onemorefont { font-size: 14px; }

.countdown_humans_wrapper, .countdown_hits_wrapper {
    width: 550px;
    height: 95px;
    background-image: url("/static/countdown.png");
    position: relative;
    float: right;
}

.countdown_hits_wrapper {
    background-image: url("/static/countdown2.png");
    width: 550px;
    height: 95px;
}

.countdown_humans, .countdown_hits {
    position: relative;
    overflow: hidden;
    height: 60px;
    width: 567px;
    top: 10px;
}

.countdown_hits{
    width: 550px;
    margin-left: 3px;
}

.shadow {
    position: absolute;
    background-image: url(/static/shadow.png);
    z-index: 10;
    height: 72px;
    width: 500px;
    top: 5px;
    left: 49px;
    border-radius: 10px;
}

.shadow_hits {
    width: 540px;
    left: 9px;
    top: 6px;
}

.spacer {
    height:50px;
    clear: both;
    display: block;
}
h1 {
    margin-top: 10px;
    margin-bottom: 25px;
}

.humans_wrapper {
    float: right;
    margin-left:15px;
    /* margin-right: 55px; */
    width: 140px;
}

.humans{
    line-height: 18px;
}

.humans_img {
    margin-left:7px;
    margin-top: 3px;
    margin-bottom: 7px;
    width: 21px;
    height: 32px;
    background: url("/static/glyph.png") no-repeat -47px 0;
}

.hits_img {
    margin-left:7px;
    margin-top: 3px;
    margin-bottom: 7px;
    width: 19px;
    height: 32px;
    background: url("/static/glyph.png") no-repeat -28px 0;
}

.container-main {
    padding-top: 25px;
    margin: auto;
    width: 1000px;

}

.small_spacer {
    height: 10px;
}

.countdown_calendar_wrapper {
    margin-left: 45px;
    background-image: url("/static/calendar.png");
    width: 105px;
    height: 90px;
    position: relative;
    float: left;
    margin-right: 15px;
    overflow: hidden;
    margin-left:30px;
}

.countdown_calendar{
    position: relative;
    overflow: hidden;
    height: 60px;
    top: 10px;
    left: 3px;
}

.shadow_calendar {
    width: 85px;
    left: 13px;
}

.calendar_wrapper {
    float: left;
}

.calendar_img {
    width: 28px;
    height: 32px;
    margin-top: 3px;
    margin-bottom: 7px;
    background: url("/static/glyph.png") no-repeat 0 0;
}

.sharer {
    float: left;
    position: relative;
}

.pluso_sharer {
    position: absolute;
    left: 0;
    top: 15px;
    width: 200px;
}

.logininfo {
    margin-left:20px;
    margin-right:20px;
    color: white;
    text-align: center;
    font-size: 48px;
    line-height:48px;
    margin-bottom: 20px;
    margin-top:0;
}

.wantstop {
    line-height: 20px;
    float: right;
    font-size: 18px;
    margin-right: 100px;
    margin-top: 50px;
    color: #636466;
}

.acontainer {
    width: 1000px;
    margin: auto;
    height: 25px;
}

.triangle {
    width: 0px;
    height: 0px;
    float: right;
    margin-right: 70px;
    border-style: solid;
    border-width: 0 27.5px 25px 27.5px;
    border-color: transparent transparent #ffffff transparent;
}

.countdown_humans {
    top: 10px;
    width: 550px;
    left: 3px;
}

.stopinfo {
  color: #636466;
  text-align:center;
  margin-bottom: 30px;
}
