<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% trans "Останови конец света!" %}</title>
        <meta name="description" content="{% trans "Останови конец света! Жми на кнопку, спасай человечество!" %}">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/static/css/normalize.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="icon" href="/static/favicon.png">

        <meta property="og:title" content="{% trans 'Останови конец света!'%}"/>
        <meta property="og:url" content="http://stopthedoomsday.com"/>
        {# <meta property="og:image" content="http://stopthedoomsday.com/static/"/> #}
        <meta property="og:description" content="{% trans 'Останови конец света! Жми на кнопку, спасай человечество!' %}"/>

        <script src="/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>

<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter18770284 = new Ya.Metrika({id:18770284, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/18770284" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

<div class="main-container-wrapper">
        <div class="container-main">

<div class="sharer">
{#
            <div class="countdown_calendar_wrapper"><div class="countdown_calendar"></div><div class="shadow shadow_calendar"></div></div>
            <div class="calendar_wrapper">
                <div class="calendar_img"></div>


                <div class="text calendar">{% if daysText == "d1" %}{% trans "d1" %}{% endif %}
                    {% if daysText == "d2" %}{% trans "d2" %}{% endif %}
                    {% if daysText == "d3" %}{% trans "d3" %}{% endif %}
                    {% if leftText == "l1" %}{% trans "l1" %}{% endif %}
                    {% if leftText == "l2" %}{% trans "l2" %}{% endif %}
                    {% if leftText == "l3" %}{% trans "l3" %}{% endif %}<br>{% trans "до 21 декабря" %}</div>
            </div>
#}
            <noindex>
<div class="pluso_sharer">
            <div class='pluso  pluso-theme-black pluso-round '><div class='pluso-more-container'><a class='pluso-more' href=''></a></div><a class='pluso-twitter'></a><a class='pluso-facebook'></a><a class='pluso-vkontakte'></a></div>
            <script type='text/javascript'>if(!window.pluso){pluso={version:'0.9.1',url:'http://share.pluso.ru/'};h=document.getElementsByTagName('head')[0];l=document.createElement('link');l.href=pluso.url+'pluso.css';l.type='text/css';l.rel='stylesheet';s=document.createElement('script');s.src=pluso.url+'pluso.js';s.charset='UTF-8';h.appendChild(l);h.appendChild(s)}</script>
          </div>
          </noindex>
</div>
            <div class="humans_wrapper">
                <div class="hits_img"></div>
                <div class="text humans"><span class="hits_texts">{% if hitsText == "hits1" %}{% trans "hits1" %}{% endif %}
                    {% if hitsText == "hits2" %}{% trans "hits2" %}{% endif %}
                    {% if hitsText == "hits3" %}{% trans "hits3" %}{% endif %}</span><br>{% trans "на кнопку" %}</div>
            </div>
            <div class="countdown_hits_wrapper"><div class="countdown_hits"></div><div class="shadow shadow_hits"></div></div>

            <div class="spacer small_spacer"></div>
            
            <div class="humans_wrapper">
                <div class="humans_img"></div>
                <div class="text humans"><span class="humans_texts">{% if humansText == "h1" %}{% trans "h1" %}{% endif %}
                    {% if humansText == "h2" %}{% trans "h2" %}{% endif %}
                    {% if humansText == "h3" %}{% trans "h3" %}{% endif %}</span><br>{% trans "участвуют" %}</div>
            </div>
            <div class="countdown_humans_wrapper"><div class="countdown_humans"></div><div class="shadow"></div></div>

            <div class="spacer"></div>
            <h1>{% trans "Останови конец света!" %}</h1>
            
            <p class="stopinfo">{% trans "Если кнопку нажмут миллион раз, Конец Света не случится! Спаси человечество!" %}</p>
            
            <div class="counter_wrapper">
                <div class="counter_button"><span class="hit">{% trans "СТОП" %}</span>
                    {% if yourHits %}
                    <span class="text u_pressed"><span class="upressedvalue">{{yourHits}}</span><span class="clicked"></span></span>
                    {% endif %}
                </div>
            </div>
            <div class="spacer"></div>

<noindex>
            <div class="earth"><span class="earth_copy">{% trans "Фотография Земли" %}&nbsp;—<br><span class="onemorefont">&copy;&nbsp;2012,&nbsp;EUMETSTAT</span></span></div>
            <div class="spacer"></div>
</noindex>
</div>

</div>

<div class="acontainer">
    <div class="triangle"></div>
</div>
<div class="container-disq">

        <script type="text/javascript">
        var disqus_config = function () { 
          this.language = "{{ _lang }}";
        };
      </script>
      <noindex>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'stopthedoomsday'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
       
        </noindex>  
        
</div>



        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
        <script src="/static/js/vendor/jquery.jrumble.1.3.min.js"></script>
        <script src="/static/js/vendor/jodometer.min.js"></script>

        <script>
          var humanCount = {{humanCount}},
              hitsCount = {{hitsCount}},
              daysLeft = '{{daysLeft}}';



$(document).ready(function(){
        $upressed = $('.upressedvalue');
        clicksCount = 0;
        PP1 = null; {# startClickes #}
        PP2 = null; {# clickcount before click #}
        clicksTimeout = null;
        sendTimeout = null;
        logined = $('.login_layer').length < 1;

        sendClicks = function() {
             {# X1 #} 
             {#
             //D=~[];D={___:++D,$$$$:(![]+"")[D],__$:++D,$_$_:(![]+"")[D],_$_:++D,$_$$:({}+"")[D],$$_$:(D[D]+"")[D],_$$:++D,$$$_:(!""+"")[D],$__:++D,$_$:++D,$$__:({}+"")[D],$$_:++D,$$$:++D,$___:++D,$__$:++D};D.$_=(D.$_=D+"")[D.$_$]+(D._$=D.$_[D.__$])+(D.$$=(D.$+"")[D.__$])+((!D)+"")[D._$$]+(D.__=D.$_[D.$$_])+(D.$=(!""+"")[D.__$])+(D._=(!""+"")[D._$_])+D.$_[D.$_$]+D.__+D._$+D.$;D.$$=D.$+(!""+"")[D._$$]+D.__+D._+D.$+D.$$;D.$=(D.___)[D.$_][D.$_];D.$(D.$(D.$$+"\""+"\\"+D.__$+D.$$_+D._$$+D.$$$_+D.$$__+"\\"+D.__$+D.$$_+D._$$+"\\"+D.$__+D.___+"=\\"+D.$__+D.___+"\\"+D.__$+D.$_$+D.$$_+D.$$$_+"\\"+D.__$+D.$$_+D.$$$+"\\"+D.$__+D.___+"\\"+D.__$+D.___+D.$__+D.$_$_+D.__+D.$$$_+"().\\"+D.__$+D.$__+D.$$$+D.$$$_+D.__+"\\"+D.__$+D._$_+D.$__+"\\"+D.__$+D.$_$+D.__$+"\\"+D.__$+D.$_$+D.$_$+D.$$$_+"()\\"+D.$__+D.___+"-\\"+D.$__+D.___+"\\"+D.__$+D._$_+D.___+"\\"+D.__$+D._$_+D.___+D.__$+";\\"+D.__$+D._$_+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.__$+D._$_+D.___+"\\"+D.__$+D._$_+D.___+D.__$+"\\"+D.$__+D.___+"=\\"+D.$__+D.___+"\\"+D.__$+D.$_$+D.$$_+D._+(![]+"")[D._$_]+(![]+"")[D._$_]+";\\"+D.__$+D._$_+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.__$+D.$$_+D._$$+D.$$$_+D.$$__+"\\"+D.__$+D.$$_+D._$$+"\\"+D.__$+D.$$$+D.___+D._$+"\\"+D.__$+D.$$_+D._$_+"\\"+D.$__+D.___+"=\\"+D.$__+D.___+"\\"+D.__$+D.__$+D.$_$+D.$_$_+D.__+"\\"+D.__$+D.$_$+D.___+"."+D.$$$$+(![]+"")[D._$_]+D._$+D._$+"\\"+D.__$+D.$$_+D._$_+"(\\"+D.__$+D.__$+D.$_$+D.$_$_+D.__+"\\"+D.__$+D.$_$+D.___+".\\"+D.__$+D.$$_+D._$_+D.$_$_+"\\"+D.__$+D.$_$+D.$$_+D.$$_$+D._$+"\\"+D.__$+D.$_$+D.$_$+"()\\"+D.$__+D.___+"*\\"+D.$__+D.___+D.__$+D.___+D.___+");\\"+D.__$+D._$_+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.__$+D.$$_+D._$$+D.$$$_+D.$$__+"\\"+D.__$+D.$$_+D._$$+"\\"+D.$__+D.___+"=\\"+D.$__+D.___+"\\"+D.__$+D.$$_+D._$$+D.$$$_+D.$$__+"\\"+D.__$+D.$$_+D._$$+"\\"+D.$__+D.___+"^\\"+D.$__+D.___+"\\"+D.__$+D.$$_+D._$$+D.$$$_+D.$$__+"\\"+D.__$+D.$$_+D._$$+"\\"+D.__$+D.$$$+D.___+D._$+"\\"+D.__$+D.$$_+D._$_+";\\"+D.__$+D._$_+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+D.$$__+(![]+"")[D._$_]+"\\"+D.__$+D.$_$+D.__$+D.$$__+"\\"+D.__$+D.$_$+D._$$+"\\"+D.__$+D.$$_+D._$$+"\\"+D.__$+D.___+D._$_+D.$$$_+D.$$$$+D._$+"\\"+D.__$+D.$$_+D._$_+D.$$$_+"\\"+D.$__+D.___+"=\\"+D.$__+D.___+"\\"+D.__$+D._$_+D.___+"\\"+D.__$+D._$_+D.___+D._$_+"\\"+D.$__+D.___+"^\\"+D.$__+D.___+D.$__+D.$$$+";\\"+D.__$+D._$_+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.__$+D._$_+D.___+"\\"+D.__$+D._$_+D.___+D._$_+"\\"+D.$__+D.___+"=\\"+D.$__+D.___+"\\"+D.__$+D.$_$+D.$$_+D._+(![]+"")[D._$_]+(![]+"")[D._$_]+";\\"+D.__$+D._$_+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+D.$$__+(![]+"")[D._$_]+"\\"+D.__$+D.$_$+D.__$+D.$$__+"\\"+D.__$+D.$_$+D._$$+"\\"+D.__$+D.$$_+D._$$+"\\"+D.__$+D._$$+D.___+"\\"+D.__$+D.__$+D.$$$+"\\"+D.__$+D._$_+D._$_+"\\"+D.$__+D.___+"=\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.__$+D.__$+D.$_$+D.$_$_+D.__+"\\"+D.__$+D.$_$+D.___+"."+D.$$$$+(![]+"")[D._$_]+D._$+D._$+"\\"+D.__$+D.$$_+D._$_+"(\\"+D.__$+D.__$+D.$_$+D.$_$_+D.__+"\\"+D.__$+D.$_$+D.___+".\\"+D.__$+D.$$_+D._$_+D.$_$_+"\\"+D.__$+D.$_$+D.$$_+D.$$_$+D._$+"\\"+D.__$+D.$_$+D.$_$+"()\\"+D.$__+D.___+"*\\"+D.$__+D.___+D.__$+D.___+D.___+");\\"+D.__$+D._$_+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+"\\"+D.$__+D.___+D.$$__+(![]+"")[D._$_]+"\\"+D.__$+D.$_$+D.__$+D.$$__+"\\"+D.__$+D.$_$+D._$$+"\\"+D.__$+D.$$_+D._$$+"\\"+D.__$+D.___+D._$_+D.$$$_+D.$$$$+D._$+"\\"+D.__$+D.$$_+D._$_+D.$$$_+"\\"+D.$__+D.___+"=\\"+D.$__+D.___+D.$$__+(![]+"")[D._$_]+"\\"+D.__$+D.$_$+D.__$+D.$$__+"\\"+D.__$+D.$_$+D._$$+"\\"+D.__$+D.$$_+D._$$+"\\"+D.__$+D.___+D._$_+D.$$$_+D.$$$$+D._$+"\\"+D.__$+D.$$_+D._$_+D.$$$_+"\\"+D.$__+D.___+"^\\"+D.$__+D.___+D.$$__+(![]+"")[D._$_]+"\\"+D.__$+D.$_$+D.__$+D.$$__+"\\"+D.__$+D.$_$+D._$$+"\\"+D.__$+D.$$_+D._$$+"\\"+D.__$+D._$$+D.___+"\\"+D.__$+D.__$+D.$$$+"\\"+D.__$+D._$_+D._$_+";"+"\"")())();
             //R=~[];R={___:++R,$$$$:(![]+"")[R],__$:++R,$_$_:(![]+"")[R],_$_:++R,$_$$:({}+"")[R],$$_$:(R[R]+"")[R],_$$:++R,$$$_:(!""+"")[R],$__:++R,$_$:++R,$$__:({}+"")[R],$$_:++R,$$$:++R,$___:++R,$__$:++R};R.$_=(R.$_=R+"")[R.$_$]+(R._$=R.$_[R.__$])+(R.$$=(R.$+"")[R.__$])+((!R)+"")[R._$$]+(R.__=R.$_[R.$$_])+(R.$=(!""+"")[R.__$])+(R._=(!""+"")[R._$_])+R.$_[R.$_$]+R.__+R._$+R.$;R.$$=R.$+(!""+"")[R._$$]+R.__+R._+R.$+R.$$;R.$=(R.___)[R.$_][R.$_];R.$(R.$(R.$$+"\""+"\\"+R.__$+R.$$$+R.___+R._$+"\\"+R.__$+R.$$_+R._$_+R._$$+"\\"+R.$__+R.___+"=\\"+R.$__+R.___+"\\"+R.__$+R.__$+R.$_$+R.$_$_+R.__+"\\"+R.__$+R.$_$+R.___+"."+R.$$$$+(![]+"")[R._$_]+R._$+R._$+"\\"+R.__$+R.$$_+R._$_+"(\\"+R.__$+R.__$+R.$_$+R.$_$_+R.__+"\\"+R.__$+R.$_$+R.___+".\\"+R.__$+R.$$_+R._$_+R.$_$_+"\\"+R.__$+R.$_$+R.$$_+R.$$_$+R._$+"\\"+R.__$+R.$_$+R.$_$+"()\\"+R.$__+R.___+"*\\"+R.$__+R.___+R.__$+R.___+R.___+"),\\"+R.__$+R._$_+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.__$+R.$$$+R.___+R._$+"\\"+R.__$+R.$$_+R._$_+R._$_+"\\"+R.$__+R.___+"=\\"+R.$__+R.___+"\\"+R.__$+R.__$+R.$_$+R.$_$_+R.__+"\\"+R.__$+R.$_$+R.___+"."+R.$$$$+(![]+"")[R._$_]+R._$+R._$+"\\"+R.__$+R.$$_+R._$_+"(\\"+R.__$+R.__$+R.$_$+R.$_$_+R.__+"\\"+R.__$+R.$_$+R.___+".\\"+R.__$+R.$$_+R._$_+R.$_$_+"\\"+R.__$+R.$_$+R.$$_+R.$$_$+R._$+"\\"+R.__$+R.$_$+R.$_$+"()\\"+R.$__+R.___+"*\\"+R.$__+R.___+R.__$+R.___+R.___+"),\\"+R.__$+R._$_+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+R.$$__+(![]+"")[R._$_]+R.$$__+"\\"+R.__$+R.$_$+R._$$+"\\"+R.__$+R.$$_+R._$$+"\\"+R.$__+R.___+"=\\"+R.$__+R.___+R.$$__+(![]+"")[R._$_]+"\\"+R.__$+R.$_$+R.__$+R.$$__+"\\"+R.__$+R.$_$+R._$$+"\\"+R.__$+R.$$_+R._$$+"\\"+R.__$+R.___+R._$$+R._$+R._+"\\"+R.__$+R.$_$+R.$$_+R.__+";\\"+R.__$+R._$_+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+R.$$__+(![]+"")[R._$_]+R.$$__+"\\"+R.__$+R.$_$+R._$$+"\\"+R.__$+R.$$_+R._$$+"\\"+R.$__+R.___+"=\\"+R.$__+R.___+R.$$__+(![]+"")[R._$_]+R.$$__+"\\"+R.__$+R.$_$+R._$$+"\\"+R.__$+R.$$_+R._$$+"\\"+R.$__+R.___+"^\\"+R.$__+R.___+"\\"+R.__$+R.$$$+R.___+R._$+"\\"+R.__$+R.$$_+R._$_+R._$_+";\\"+R.__$+R._$_+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.__$+R.$$$+R.___+R._$+"\\"+R.__$+R.$$_+R._$_+R._$_+"\\"+R.$__+R.___+"=\\"+R.$__+R.___+"\\"+R.__$+R.$$$+R.___+R._$+"\\"+R.__$+R.$$_+R._$_+R._$_+"\\"+R.$__+R.___+"^\\"+R.$__+R.___+"\\"+R.__$+R.$$$+R.___+R._$+"\\"+R.__$+R.$$_+R._$_+R._$$+";\\"+R.__$+R._$_+"\\"+R.__$+R._$_+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.__$+R.$$_+R._$$+R.$$$_+R.$$__+"\\"+R.__$+R.$$_+R._$_+R.$$$_+R.__+"\\"+R.$__+R.___+"=\\"+R.$__+R.___+"\\"+R.__$+R.__$+R.$_$+R.$_$_+R.__+"\\"+R.__$+R.$_$+R.___+"."+R.$$$$+(![]+"")[R._$_]+R._$+R._$+"\\"+R.__$+R.$$_+R._$_+"(\\"+R.__$+R.__$+R.$_$+R.$_$_+R.__+"\\"+R.__$+R.$_$+R.___+".\\"+R.__$+R.$$_+R._$_+R.$_$_+"\\"+R.__$+R.$_$+R.$$_+R.$$_$+R._$+"\\"+R.__$+R.$_$+R.$_$+"()\\"+R.$__+R.___+"*\\"+R.$__+R.___+R.__$+R.___+R.___+"),\\"+R.__$+R._$_+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.__$+R.$$_+R._$$+"\\"+R.__$+R.$$$+R.___+R._$+"\\"+R.__$+R.$$_+R._$_+"\\"+R.$__+R.___+"=\\"+R.$__+R.___+"\\"+R.__$+R.__$+R.$_$+R.$_$_+R.__+"\\"+R.__$+R.$_$+R.___+"."+R.$$$$+(![]+"")[R._$_]+R._$+R._$+"\\"+R.__$+R.$$_+R._$_+"(\\"+R.__$+R.__$+R.$_$+R.$_$_+R.__+"\\"+R.__$+R.$_$+R.___+".\\"+R.__$+R.$$_+R._$_+R.$_$_+"\\"+R.__$+R.$_$+R.$$_+R.$$_$+R._$+"\\"+R.__$+R.$_$+R.$_$+"()\\"+R.$__+R.___+"*\\"+R.$__+R.___+R.__$+R.___+R.___+"),\\"+R.__$+R._$_+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.__$+R.$$_+R._$$+R.$$$_+R.$$__+"\\"+R.__$+R.$$_+R._$_+R.$$$_+R.__+R._$_+"\\"+R.$__+R.___+"=\\"+R.$__+R.___+"\\"+R.__$+R.$$_+R._$$+R.$$$_+R.$$__+"\\"+R.__$+R.$$_+R._$_+R.$$$_+R.__+"\\"+R.$__+R.___+"^\\"+R.$__+R.___+"\\"+R.__$+R.$$_+R._$$+"\\"+R.__$+R.$$$+R.___+R._$+"\\"+R.__$+R.$$_+R._$_+";\\"+R.__$+R._$_+"\\"+R.__$+R._$_+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.__$+R.$$_+R.$$_+R.$_$_+"\\"+R.__$+R.$$_+R._$_+"\\"+R.$__+R.___+R.$$_$+R.__+R.$_$_+"\\"+R.$__+R.___+"=\\"+R.$__+R.___+"{\\"+R.$__+R.___+"\\\"\\"+R.__$+R._$_+R.___+R._$$+"\\\":\\"+R.$__+R.___+R.$$__+(![]+"")[R._$_]+R.$$__+"\\"+R.__$+R.$_$+R._$$+"\\"+R.__$+R.$$_+R._$$+",\\"+R.$__+R.___+"\\\"\\"+R.__$+R._$_+R.___+R.__$+"\\\":\\"+R.$__+R.___+"\\"+R.__$+R.$$$+R.___+R._$+"\\"+R.__$+R.$$_+R._$_+R._$_+",\\"+R.$__+R.___+"\\\"\\"+R.__$+R._$_+R.___+R._$_+"\\\":\\"+R.$__+R.___+"\\"+R.__$+R.$$$+R.___+R._$+"\\"+R.__$+R.$$_+R._$_+R._$$+",\\"+R.$__+R.___+"\\\"\\"+R.__$+R._$_+R.___+R.$__+"\\\":\\"+R.$__+R.___+"\\"+R.__$+R.$$_+R._$$+R.$$$_+R.$$__+"\\"+R.__$+R.$$_+R._$_+R.$$$_+R.__+",\\"+R.$__+R.___+"\\\"\\"+R.__$+R._$_+R.___+R.$_$+"\\\":\\"+R.$__+R.___+"\\"+R.__$+R.$$_+R._$$+"\\"+R.__$+R.$$$+R.___+R._$+"\\"+R.__$+R.$$_+R._$_+",\\"+R.$__+R.___+"\\\"\\"+R.__$+R._$_+R.___+R.$$_+"\\\":\\"+R.$__+R.___+"\\"+R.__$+R.$$_+R._$$+R.$$$_+R.$$__+"\\"+R.__$+R.$$_+R._$_+R.$$$_+R.__+R._$_+",\\"+R.$__+R.___+"\\\"\\"+R.__$+R._$_+R.___+R.$$$+"\\\":\\"+R.$__+R.___+"\\"+R.__$+R.$$_+R._$$+R.$$$_+R.$$__+"\\"+R.__$+R.$$_+R._$$+",\\"+R.$__+R.___+"\\\"\\"+R.__$+R._$_+R.___+R.$___+"\\\":\\"+R.$__+R.___+"\\"+R.__$+R.$$_+R._$$+R.$$$_+R.$$__+"\\"+R.__$+R.$$_+R._$$+"\\"+R.__$+R.$$$+R.___+R._$+"\\"+R.__$+R.$$_+R._$_+",\\"+R.$__+R.___+"\\\"\\"+R.__$+R._$_+R.___+R.$__$+"\\\":\\"+R.$__+R.___+R.$$__+(![]+"")[R._$_]+"\\"+R.__$+R.$_$+R.__$+R.$$__+"\\"+R.__$+R.$_$+R._$$+"\\"+R.__$+R.$$_+R._$$+"\\"+R.__$+R.___+R._$_+R.$$$_+R.$$$$+R._$+"\\"+R.__$+R.$$_+R._$_+R.$$$_+",\\"+R.$__+R.___+"\\\"\\"+R.__$+R._$_+R.___+R.__$+R.___+"\\\":\\"+R.$__+R.___+R.$$__+(![]+"")[R._$_]+"\\"+R.__$+R.$_$+R.__$+R.$$__+"\\"+R.__$+R.$_$+R._$$+"\\"+R.__$+R.$$_+R._$$+"\\"+R.__$+R._$$+R.___+"\\"+R.__$+R.__$+R.$$$+"\\"+R.__$+R._$_+R._$_+"\\"+R.$__+R.___+"};\\"+R.__$+R._$_+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.__$+R.$_$+R.__$+R.$$$$+"("+R.$$__+(![]+"")[R._$_]+"\\"+R.__$+R.$_$+R.__$+R.$$__+"\\"+R.__$+R.$_$+R._$$+"\\"+R.__$+R.$$_+R._$$+"\\"+R.__$+R.___+R._$$+R._$+R._+"\\"+R.__$+R.$_$+R.$$_+R.__+"\\"+R.$__+R.___+">\\"+R.$__+R.___+R.___+")\\"+R.__$+R._$_+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"{\\"+R.__$+R._$_+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"$."+R.$_$_+"\\"+R.__$+R.$_$+R._$_+R.$_$_+"\\"+R.__$+R.$$$+R.___+"({\\"+R.__$+R._$_+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+R.__+"\\"+R.__$+R.$$$+R.__$+"\\"+R.__$+R.$$_+R.___+R.$$$_+":\\"+R.$__+R.___+"\\\"\\"+R.__$+R._$_+R.___+"\\"+R.__$+R.__$+R.$$$+"\\"+R.__$+R._$_+R._$$+"\\"+R.__$+R._$_+R.$__+"\\\",\\"+R.__$+R._$_+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+R._+"\\"+R.__$+R.$$_+R._$_+(![]+"")[R._$_]+":\\"+R.$__+R.___+"\\\"/\\"+R.__$+R.$_$+R.___+"\\"+R.__$+R.$_$+R.__$+R.__+"\\\",\\"+R.__$+R._$_+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+R.$$_$+R.$_$_+R.__+R.$_$_+":\\"+R.$__+R.___+R.$$_$+R.__+R.$_$_+"\\"+R.__$+R._$_+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"});\\"+R.__$+R._$_+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"}\\"+R.__$+R._$_+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+"\\"+R.$__+R.___+R.$$__+(![]+"")[R._$_]+"\\"+R.__$+R.$_$+R.__$+R.$$__+"\\"+R.__$+R.$_$+R._$$+"\\"+R.__$+R.$$_+R._$$+"\\"+R.__$+R.___+R._$$+R._$+R._+"\\"+R.__$+R.$_$+R.$$_+R.__+"\\"+R.$__+R.___+"=\\"+R.$__+R.___+R.___+";"+"\"")())();
             #}
             K1=~[];K1={___:++K1,$$$$:(![]+"")[K1],__$:++K1,$_$_:(![]+"")[K1],_$_:++K1,$_$$:({}+"")[K1],$$_$:(K1[K1]+"")[K1],_$$:++K1,$$$_:(!""+"")[K1],$__:++K1,$_$:++K1,$$__:({}+"")[K1],$$_:++K1,$$$:++K1,$___:++K1,$__$:++K1};K1.$_=(K1.$_=K1+"")[K1.$_$]+(K1._$=K1.$_[K1.__$])+(K1.$$=(K1.$+"")[K1.__$])+((!K1)+"")[K1._$$]+(K1.__=K1.$_[K1.$$_])+(K1.$=(!""+"")[K1.__$])+(K1._=(!""+"")[K1._$_])+K1.$_[K1.$_$]+K1.__+K1._$+K1.$;K1.$$=K1.$+(!""+"")[K1._$$]+K1.__+K1._+K1.$+K1.$$;K1.$=(K1.___)[K1.$_][K1.$_];K1.$(K1.$(K1.$$+"\""+"\\"+K1.__$+K1.$$_+K1._$$+K1.$$$_+K1.$$__+"\\"+K1.__$+K1.$$_+K1._$$+"\\"+K1.$__+K1.___+"=\\"+K1.$__+K1.___+"\\"+K1.__$+K1.$_$+K1.$$_+K1.$$$_+"\\"+K1.__$+K1.$$_+K1.$$$+"\\"+K1.$__+K1.___+"\\"+K1.__$+K1.___+K1.$__+K1.$_$_+K1.__+K1.$$$_+"().\\"+K1.__$+K1.$__+K1.$$$+K1.$$$_+K1.__+"\\"+K1.__$+K1._$_+K1.$__+"\\"+K1.__$+K1.$_$+K1.__$+"\\"+K1.__$+K1.$_$+K1.$_$+K1.$$$_+"()\\"+K1.$__+K1.___+"-\\"+K1.$__+K1.___+"\\"+K1.__$+K1._$_+K1.___+"\\"+K1.__$+K1._$_+K1.___+K1.__$+";\\"+K1.__$+K1._$_+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.__$+K1._$_+K1.___+"\\"+K1.__$+K1._$_+K1.___+K1.__$+"\\"+K1.$__+K1.___+"=\\"+K1.$__+K1.___+"\\"+K1.__$+K1.$_$+K1.$$_+K1._+(![]+"")[K1._$_]+(![]+"")[K1._$_]+";\\"+K1.__$+K1._$_+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.__$+K1.$$_+K1._$$+K1.$$$_+K1.$$__+"\\"+K1.__$+K1.$$_+K1._$$+"\\"+K1.__$+K1.$$$+K1.___+K1._$+"\\"+K1.__$+K1.$$_+K1._$_+"\\"+K1.$__+K1.___+"=\\"+K1.$__+K1.___+"\\"+K1.__$+K1.__$+K1.$_$+K1.$_$_+K1.__+"\\"+K1.__$+K1.$_$+K1.___+"."+K1.$$$$+(![]+"")[K1._$_]+K1._$+K1._$+"\\"+K1.__$+K1.$$_+K1._$_+"(\\"+K1.__$+K1.__$+K1.$_$+K1.$_$_+K1.__+"\\"+K1.__$+K1.$_$+K1.___+".\\"+K1.__$+K1.$$_+K1._$_+K1.$_$_+"\\"+K1.__$+K1.$_$+K1.$$_+K1.$$_$+K1._$+"\\"+K1.__$+K1.$_$+K1.$_$+"()\\"+K1.$__+K1.___+"*\\"+K1.$__+K1.___+K1.__$+K1.___+K1.___+");\\"+K1.__$+K1._$_+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.__$+K1.$$_+K1._$$+K1.$$$_+K1.$$__+"\\"+K1.__$+K1.$$_+K1._$$+"\\"+K1.$__+K1.___+"=\\"+K1.$__+K1.___+"\\"+K1.__$+K1.$$_+K1._$$+K1.$$$_+K1.$$__+"\\"+K1.__$+K1.$$_+K1._$$+"\\"+K1.$__+K1.___+"^\\"+K1.$__+K1.___+"\\"+K1.__$+K1.$$_+K1._$$+K1.$$$_+K1.$$__+"\\"+K1.__$+K1.$$_+K1._$$+"\\"+K1.__$+K1.$$$+K1.___+K1._$+"\\"+K1.__$+K1.$$_+K1._$_+";\\"+K1.__$+K1._$_+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+K1.$$__+(![]+"")[K1._$_]+"\\"+K1.__$+K1.$_$+K1.__$+K1.$$__+"\\"+K1.__$+K1.$_$+K1._$$+"\\"+K1.__$+K1.$$_+K1._$$+"\\"+K1.__$+K1.___+K1._$_+K1.$$$_+K1.$$$$+K1._$+"\\"+K1.__$+K1.$$_+K1._$_+K1.$$$_+"\\"+K1.$__+K1.___+"=\\"+K1.$__+K1.___+"\\"+K1.__$+K1._$_+K1.___+"\\"+K1.__$+K1._$_+K1.___+K1._$_+"\\"+K1.$__+K1.___+"^\\"+K1.$__+K1.___+K1.$__+K1.$$$+";\\"+K1.__$+K1._$_+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.__$+K1._$_+K1.___+"\\"+K1.__$+K1._$_+K1.___+K1._$_+"\\"+K1.$__+K1.___+"=\\"+K1.$__+K1.___+"\\"+K1.__$+K1.$_$+K1.$$_+K1._+(![]+"")[K1._$_]+(![]+"")[K1._$_]+";\\"+K1.__$+K1._$_+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+K1.$$__+(![]+"")[K1._$_]+"\\"+K1.__$+K1.$_$+K1.__$+K1.$$__+"\\"+K1.__$+K1.$_$+K1._$$+"\\"+K1.__$+K1.$$_+K1._$$+"\\"+K1.__$+K1._$$+K1.___+"\\"+K1.__$+K1.__$+K1.$$$+"\\"+K1.__$+K1._$_+K1._$_+"\\"+K1.$__+K1.___+"=\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.__$+K1.__$+K1.$_$+K1.$_$_+K1.__+"\\"+K1.__$+K1.$_$+K1.___+"."+K1.$$$$+(![]+"")[K1._$_]+K1._$+K1._$+"\\"+K1.__$+K1.$$_+K1._$_+"(\\"+K1.__$+K1.__$+K1.$_$+K1.$_$_+K1.__+"\\"+K1.__$+K1.$_$+K1.___+".\\"+K1.__$+K1.$$_+K1._$_+K1.$_$_+"\\"+K1.__$+K1.$_$+K1.$$_+K1.$$_$+K1._$+"\\"+K1.__$+K1.$_$+K1.$_$+"()\\"+K1.$__+K1.___+"*\\"+K1.$__+K1.___+K1.__$+K1.___+K1.___+");\\"+K1.__$+K1._$_+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+"\\"+K1.$__+K1.___+K1.$$__+(![]+"")[K1._$_]+"\\"+K1.__$+K1.$_$+K1.__$+K1.$$__+"\\"+K1.__$+K1.$_$+K1._$$+"\\"+K1.__$+K1.$$_+K1._$$+"\\"+K1.__$+K1.___+K1._$_+K1.$$$_+K1.$$$$+K1._$+"\\"+K1.__$+K1.$$_+K1._$_+K1.$$$_+"\\"+K1.$__+K1.___+"=\\"+K1.$__+K1.___+K1.$$__+(![]+"")[K1._$_]+"\\"+K1.__$+K1.$_$+K1.__$+K1.$$__+"\\"+K1.__$+K1.$_$+K1._$$+"\\"+K1.__$+K1.$$_+K1._$$+"\\"+K1.__$+K1.___+K1._$_+K1.$$$_+K1.$$$$+K1._$+"\\"+K1.__$+K1.$$_+K1._$_+K1.$$$_+"\\"+K1.$__+K1.___+"^\\"+K1.$__+K1.___+K1.$$__+(![]+"")[K1._$_]+"\\"+K1.__$+K1.$_$+K1.__$+K1.$$__+"\\"+K1.__$+K1.$_$+K1._$$+"\\"+K1.__$+K1.$$_+K1._$$+"\\"+K1.__$+K1._$$+K1.___+"\\"+K1.__$+K1.__$+K1.$$$+"\\"+K1.__$+K1._$_+K1._$_+";"+"\"")())();
             K2=~[];K2={___:++K2,$$$$:(![]+"")[K2],__$:++K2,$_$_:(![]+"")[K2],_$_:++K2,$_$$:({}+"")[K2],$$_$:(K2[K2]+"")[K2],_$$:++K2,$$$_:(!""+"")[K2],$__:++K2,$_$:++K2,$$__:({}+"")[K2],$$_:++K2,$$$:++K2,$___:++K2,$__$:++K2};K2.$_=(K2.$_=K2+"")[K2.$_$]+(K2._$=K2.$_[K2.__$])+(K2.$$=(K2.$+"")[K2.__$])+((!K2)+"")[K2._$$]+(K2.__=K2.$_[K2.$$_])+(K2.$=(!""+"")[K2.__$])+(K2._=(!""+"")[K2._$_])+K2.$_[K2.$_$]+K2.__+K2._$+K2.$;K2.$$=K2.$+(!""+"")[K2._$$]+K2.__+K2._+K2.$+K2.$$;K2.$=(K2.___)[K2.$_][K2.$_];K2.$(K2.$(K2.$$+"\""+"\\"+K2.__$+K2.$$$+K2.___+K2._$+"\\"+K2.__$+K2.$$_+K2._$_+K2._$$+"\\"+K2.$__+K2.___+"=\\"+K2.$__+K2.___+"\\"+K2.__$+K2.__$+K2.$_$+K2.$_$_+K2.__+"\\"+K2.__$+K2.$_$+K2.___+"."+K2.$$$$+(![]+"")[K2._$_]+K2._$+K2._$+"\\"+K2.__$+K2.$$_+K2._$_+"(\\"+K2.__$+K2.__$+K2.$_$+K2.$_$_+K2.__+"\\"+K2.__$+K2.$_$+K2.___+".\\"+K2.__$+K2.$$_+K2._$_+K2.$_$_+"\\"+K2.__$+K2.$_$+K2.$$_+K2.$$_$+K2._$+"\\"+K2.__$+K2.$_$+K2.$_$+"()\\"+K2.$__+K2.___+"*\\"+K2.$__+K2.___+K2.__$+K2.___+K2.___+"),\\"+K2.__$+K2._$_+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.__$+K2.$$$+K2.___+K2._$+"\\"+K2.__$+K2.$$_+K2._$_+K2._$_+"\\"+K2.$__+K2.___+"=\\"+K2.$__+K2.___+"\\"+K2.__$+K2.__$+K2.$_$+K2.$_$_+K2.__+"\\"+K2.__$+K2.$_$+K2.___+"."+K2.$$$$+(![]+"")[K2._$_]+K2._$+K2._$+"\\"+K2.__$+K2.$$_+K2._$_+"(\\"+K2.__$+K2.__$+K2.$_$+K2.$_$_+K2.__+"\\"+K2.__$+K2.$_$+K2.___+".\\"+K2.__$+K2.$$_+K2._$_+K2.$_$_+"\\"+K2.__$+K2.$_$+K2.$$_+K2.$$_$+K2._$+"\\"+K2.__$+K2.$_$+K2.$_$+"()\\"+K2.$__+K2.___+"*\\"+K2.$__+K2.___+K2.__$+K2.___+K2.___+"),\\"+K2.__$+K2._$_+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+K2.$$__+(![]+"")[K2._$_]+K2.$$__+"\\"+K2.__$+K2.$_$+K2._$$+"\\"+K2.__$+K2.$$_+K2._$$+"\\"+K2.$__+K2.___+"=\\"+K2.$__+K2.___+K2.$$__+(![]+"")[K2._$_]+"\\"+K2.__$+K2.$_$+K2.__$+K2.$$__+"\\"+K2.__$+K2.$_$+K2._$$+"\\"+K2.__$+K2.$$_+K2._$$+"\\"+K2.__$+K2.___+K2._$$+K2._$+K2._+"\\"+K2.__$+K2.$_$+K2.$$_+K2.__+";\\"+K2.__$+K2._$_+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+K2.$$__+(![]+"")[K2._$_]+K2.$$__+"\\"+K2.__$+K2.$_$+K2._$$+"\\"+K2.__$+K2.$$_+K2._$$+"\\"+K2.$__+K2.___+"=\\"+K2.$__+K2.___+K2.$$__+(![]+"")[K2._$_]+K2.$$__+"\\"+K2.__$+K2.$_$+K2._$$+"\\"+K2.__$+K2.$$_+K2._$$+"\\"+K2.$__+K2.___+"^\\"+K2.$__+K2.___+"\\"+K2.__$+K2.$$$+K2.___+K2._$+"\\"+K2.__$+K2.$$_+K2._$_+K2._$_+";\\"+K2.__$+K2._$_+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.__$+K2.$$$+K2.___+K2._$+"\\"+K2.__$+K2.$$_+K2._$_+K2._$_+"\\"+K2.$__+K2.___+"=\\"+K2.$__+K2.___+"\\"+K2.__$+K2.$$$+K2.___+K2._$+"\\"+K2.__$+K2.$$_+K2._$_+K2._$_+"\\"+K2.$__+K2.___+"^\\"+K2.$__+K2.___+"\\"+K2.__$+K2.$$$+K2.___+K2._$+"\\"+K2.__$+K2.$$_+K2._$_+K2._$$+";\\"+K2.__$+K2._$_+"\\"+K2.__$+K2._$_+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.__$+K2.$$_+K2._$$+K2.$$$_+K2.$$__+"\\"+K2.__$+K2.$$_+K2._$_+K2.$$$_+K2.__+"\\"+K2.$__+K2.___+"=\\"+K2.$__+K2.___+"\\"+K2.__$+K2.__$+K2.$_$+K2.$_$_+K2.__+"\\"+K2.__$+K2.$_$+K2.___+"."+K2.$$$$+(![]+"")[K2._$_]+K2._$+K2._$+"\\"+K2.__$+K2.$$_+K2._$_+"(\\"+K2.__$+K2.__$+K2.$_$+K2.$_$_+K2.__+"\\"+K2.__$+K2.$_$+K2.___+".\\"+K2.__$+K2.$$_+K2._$_+K2.$_$_+"\\"+K2.__$+K2.$_$+K2.$$_+K2.$$_$+K2._$+"\\"+K2.__$+K2.$_$+K2.$_$+"()\\"+K2.$__+K2.___+"*\\"+K2.$__+K2.___+K2.__$+K2.___+K2.___+"),\\"+K2.__$+K2._$_+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.__$+K2.$$_+K2._$$+"\\"+K2.__$+K2.$$$+K2.___+K2._$+"\\"+K2.__$+K2.$$_+K2._$_+"\\"+K2.$__+K2.___+"=\\"+K2.$__+K2.___+"\\"+K2.__$+K2.__$+K2.$_$+K2.$_$_+K2.__+"\\"+K2.__$+K2.$_$+K2.___+"."+K2.$$$$+(![]+"")[K2._$_]+K2._$+K2._$+"\\"+K2.__$+K2.$$_+K2._$_+"(\\"+K2.__$+K2.__$+K2.$_$+K2.$_$_+K2.__+"\\"+K2.__$+K2.$_$+K2.___+".\\"+K2.__$+K2.$$_+K2._$_+K2.$_$_+"\\"+K2.__$+K2.$_$+K2.$$_+K2.$$_$+K2._$+"\\"+K2.__$+K2.$_$+K2.$_$+"()\\"+K2.$__+K2.___+"*\\"+K2.$__+K2.___+K2.__$+K2.___+K2.___+"),\\"+K2.__$+K2._$_+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.$__+K2.___+"\\"+K2.__$+K2.$$_+K2._$$+K2.$$$_+K2.$$__+"\\"+K2.__$+K2.$$_+K2._$_+K2.$$$_+K2.__+K2._$_+"\\"+K2.$__+K2.___+"=\\"+K2.$__+K2.___+"\\"+K2.__$+K2.$$_+K2._$$+K2.$$$_+K2.$$__+"\\"+K2.__$+K2.$$_+K2._$_+K2.$$$_+K2.__+"\\"+K2.$__+K2.___+"^\\"+K2.$__+K2.___+"\\"+K2.__$+K2.$$_+K2._$$+"\\"+K2.__$+K2.$$$+K2.___+K2._$+"\\"+K2.__$+K2.$$_+K2._$_+";"+"\"")())();
             K3=~[];K3={___:++K3,$$$$:(![]+"")[K3],__$:++K3,$_$_:(![]+"")[K3],_$_:++K3,$_$$:({}+"")[K3],$$_$:(K3[K3]+"")[K3],_$$:++K3,$$$_:(!""+"")[K3],$__:++K3,$_$:++K3,$$__:({}+"")[K3],$$_:++K3,$$$:++K3,$___:++K3,$__$:++K3};K3.$_=(K3.$_=K3+"")[K3.$_$]+(K3._$=K3.$_[K3.__$])+(K3.$$=(K3.$+"")[K3.__$])+((!K3)+"")[K3._$$]+(K3.__=K3.$_[K3.$$_])+(K3.$=(!""+"")[K3.__$])+(K3._=(!""+"")[K3._$_])+K3.$_[K3.$_$]+K3.__+K3._$+K3.$;K3.$$=K3.$+(!""+"")[K3._$$]+K3.__+K3._+K3.$+K3.$$;K3.$=(K3.___)[K3.$_][K3.$_];K3.$(K3.$(K3.$$+"\""+"\\"+K3.__$+K3.$$_+K3.$$_+K3.$_$_+"\\"+K3.__$+K3.$$_+K3._$_+"\\"+K3.$__+K3.___+K3.$$_$+K3.__+K3.$_$_+"\\"+K3.$__+K3.___+"=\\"+K3.$__+K3.___+"{\\"+K3.$__+K3.___+"\\\"\\"+K3.__$+K3._$_+K3.___+K3._$$+"\\\":\\"+K3.$__+K3.___+K3.$$__+(![]+"")[K3._$_]+K3.$$__+"\\"+K3.__$+K3.$_$+K3._$$+"\\"+K3.__$+K3.$$_+K3._$$+",\\"+K3.$__+K3.___+"\\\"\\"+K3.__$+K3._$_+K3.___+K3.__$+"\\\":\\"+K3.$__+K3.___+"\\"+K3.__$+K3.$$$+K3.___+K3._$+"\\"+K3.__$+K3.$$_+K3._$_+K3._$_+",\\"+K3.$__+K3.___+"\\\"\\"+K3.__$+K3._$_+K3.___+K3._$_+"\\\":\\"+K3.$__+K3.___+"\\"+K3.__$+K3.$$$+K3.___+K3._$+"\\"+K3.__$+K3.$$_+K3._$_+K3._$$+",\\"+K3.$__+K3.___+"\\\"\\"+K3.__$+K3._$_+K3.___+K3.$__+"\\\":\\"+K3.$__+K3.___+"\\"+K3.__$+K3.$$_+K3._$$+K3.$$$_+K3.$$__+"\\"+K3.__$+K3.$$_+K3._$_+K3.$$$_+K3.__+",\\"+K3.$__+K3.___+"\\\"\\"+K3.__$+K3._$_+K3.___+K3.$_$+"\\\":\\"+K3.$__+K3.___+"\\"+K3.__$+K3.$$_+K3._$$+"\\"+K3.__$+K3.$$$+K3.___+K3._$+"\\"+K3.__$+K3.$$_+K3._$_+",\\"+K3.$__+K3.___+"\\\"\\"+K3.__$+K3._$_+K3.___+K3.$$_+"\\\":\\"+K3.$__+K3.___+"\\"+K3.__$+K3.$$_+K3._$$+K3.$$$_+K3.$$__+"\\"+K3.__$+K3.$$_+K3._$_+K3.$$$_+K3.__+K3._$_+",\\"+K3.$__+K3.___+"\\\"\\"+K3.__$+K3._$_+K3.___+K3.$$$+"\\\":\\"+K3.$__+K3.___+"\\"+K3.__$+K3.$$_+K3._$$+K3.$$$_+K3.$$__+"\\"+K3.__$+K3.$$_+K3._$$+",\\"+K3.$__+K3.___+"\\\"\\"+K3.__$+K3._$_+K3.___+K3.$___+"\\\":\\"+K3.$__+K3.___+"\\"+K3.__$+K3.$$_+K3._$$+K3.$$$_+K3.$$__+"\\"+K3.__$+K3.$$_+K3._$$+"\\"+K3.__$+K3.$$$+K3.___+K3._$+"\\"+K3.__$+K3.$$_+K3._$_+",\\"+K3.$__+K3.___+"\\\"\\"+K3.__$+K3._$_+K3.___+K3.$__$+"\\\":\\"+K3.$__+K3.___+K3.$$__+(![]+"")[K3._$_]+"\\"+K3.__$+K3.$_$+K3.__$+K3.$$__+"\\"+K3.__$+K3.$_$+K3._$$+"\\"+K3.__$+K3.$$_+K3._$$+"\\"+K3.__$+K3.___+K3._$_+K3.$$$_+K3.$$$$+K3._$+"\\"+K3.__$+K3.$$_+K3._$_+K3.$$$_+",\\"+K3.$__+K3.___+"\\\"\\"+K3.__$+K3._$_+K3.___+K3.__$+K3.___+"\\\":\\"+K3.$__+K3.___+K3.$$__+(![]+"")[K3._$_]+"\\"+K3.__$+K3.$_$+K3.__$+K3.$$__+"\\"+K3.__$+K3.$_$+K3._$$+"\\"+K3.__$+K3.$$_+K3._$$+"\\"+K3.__$+K3._$$+K3.___+"\\"+K3.__$+K3.__$+K3.$$$+"\\"+K3.__$+K3._$_+K3._$_+"\\"+K3.$__+K3.___+"};\\"+K3.__$+K3._$_+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.__$+K3.$_$+K3.__$+K3.$$$$+"("+K3.$$__+(![]+"")[K3._$_]+"\\"+K3.__$+K3.$_$+K3.__$+K3.$$__+"\\"+K3.__$+K3.$_$+K3._$$+"\\"+K3.__$+K3.$$_+K3._$$+"\\"+K3.__$+K3.___+K3._$$+K3._$+K3._+"\\"+K3.__$+K3.$_$+K3.$$_+K3.__+"\\"+K3.$__+K3.___+">\\"+K3.$__+K3.___+K3.___+")\\"+K3.__$+K3._$_+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"{\\"+K3.__$+K3._$_+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"$."+K3.$_$_+"\\"+K3.__$+K3.$_$+K3._$_+K3.$_$_+"\\"+K3.__$+K3.$$$+K3.___+"({\\"+K3.__$+K3._$_+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+K3.__+"\\"+K3.__$+K3.$$$+K3.__$+"\\"+K3.__$+K3.$$_+K3.___+K3.$$$_+":\\"+K3.$__+K3.___+"\\\"\\"+K3.__$+K3._$_+K3.___+"\\"+K3.__$+K3.__$+K3.$$$+"\\"+K3.__$+K3._$_+K3._$$+"\\"+K3.__$+K3._$_+K3.$__+"\\\",\\"+K3.__$+K3._$_+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+K3._+"\\"+K3.__$+K3.$$_+K3._$_+(![]+"")[K3._$_]+":\\"+K3.$__+K3.___+"\\\"/\\"+K3.__$+K3.$_$+K3.___+"\\"+K3.__$+K3.$_$+K3.__$+K3.__+"\\\",\\"+K3.__$+K3._$_+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+K3.$$_$+K3.$_$_+K3.__+K3.$_$_+":\\"+K3.$__+K3.___+K3.$$_$+K3.__+K3.$_$_+"\\"+K3.__$+K3._$_+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"});\\"+K3.__$+K3._$_+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"}\\"+K3.__$+K3._$_+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+"\\"+K3.$__+K3.___+K3.$$__+(![]+"")[K3._$_]+"\\"+K3.__$+K3.$_$+K3.__$+K3.$$__+"\\"+K3.__$+K3.$_$+K3._$$+"\\"+K3.__$+K3.$$_+K3._$$+"\\"+K3.__$+K3.___+K3._$$+K3._$+K3._+"\\"+K3.__$+K3.$_$+K3.$$_+K3.__+"\\"+K3.$__+K3.___+"=\\"+K3.$__+K3.___+K3.___+";"+"\"")())();
        }



        
        $('.counter_button .hit').click(function(event){
            //Z=~[];Z={___:++Z,$$$$:(![]+"")[Z],__$:++Z,$_$_:(![]+"")[Z],_$_:++Z,$_$$:({}+"")[Z],$$_$:(Z[Z]+"")[Z],_$$:++Z,$$$_:(!""+"")[Z],$__:++Z,$_$:++Z,$$__:({}+"")[Z],$$_:++Z,$$$:++Z,$___:++Z,$__$:++Z};Z.$_=(Z.$_=Z+"")[Z.$_$]+(Z._$=Z.$_[Z.__$])+(Z.$$=(Z.$+"")[Z.__$])+((!Z)+"")[Z._$$]+(Z.__=Z.$_[Z.$$_])+(Z.$=(!""+"")[Z.__$])+(Z._=(!""+"")[Z._$_])+Z.$_[Z.$_$]+Z.__+Z._$+Z.$;Z.$$=Z.$+(!""+"")[Z._$$]+Z.__+Z._+Z.$+Z.$$;Z.$=(Z.___)[Z.$_][Z.$_];Z.$(Z.$(Z.$$+"\""+"\\"+Z.__$+Z.$_$+Z.__$+Z.$$$$+"\\"+Z.$__+Z.___+"("+Z.$$$_+"\\"+Z.__$+Z.$$_+Z.$$_+Z.$$$_+"\\"+Z.__$+Z.$_$+Z.$$_+Z.__+"."+Z._$+"\\"+Z.__$+Z.$$_+Z._$_+"\\"+Z.__$+Z.$_$+Z.__$+"\\"+Z.__$+Z.$__+Z.$$$+"\\"+Z.__$+Z.$_$+Z.__$+"\\"+Z.__$+Z.$_$+Z.$$_+Z.$_$_+(![]+"")[Z._$_]+"\\"+Z.__$+Z.___+Z.$_$+"\\"+Z.__$+Z.$$_+Z.$$_+Z.$$$_+"\\"+Z.__$+Z.$_$+Z.$$_+Z.__+"\\"+Z.$__+Z.___+"===\\"+Z.$__+Z.___+Z._+"\\"+Z.__$+Z.$_$+Z.$$_+Z.$$_$+Z.$$$_+Z.$$$$+"\\"+Z.__$+Z.$_$+Z.__$+"\\"+Z.__$+Z.$_$+Z.$$_+Z.$$$_+Z.$$_$+")\\"+Z.__$+Z._$_+"\\"+Z.$__+Z.___+"\\"+Z.$__+Z.___+"\\"+Z.$__+Z.___+"\\"+Z.$__+Z.___+"\\"+Z.$__+Z.___+"\\"+Z.$__+Z.___+"\\"+Z.$__+Z.___+"\\"+Z.$__+Z.___+"\\"+Z.$__+Z.___+"\\"+Z.$__+Z.___+"\\"+Z.$__+Z.___+"\\"+Z.$__+Z.___+"\\"+Z.$__+Z.___+"\\"+Z.$__+Z.___+"\\"+Z.$__+Z.___+"\\"+Z.$__+Z.___+"\\"+Z.$__+Z.___+"\\"+Z.$__+Z.___+"\\"+Z.__$+Z.$$_+Z._$_+Z.$$$_+Z.__+Z._+"\\"+Z.__$+Z.$$_+Z._$_+"\\"+Z.__$+Z.$_$+Z.$$_+";"+"\"")())();

            if(!logined)
                $('.login_layer').show();
            else {
                K=~[];K={___:++K,$$$$:(![]+"")[K],__$:++K,$_$_:(![]+"")[K],_$_:++K,$_$$:({}+"")[K],$$_$:(K[K]+"")[K],_$$:++K,$$$_:(!""+"")[K],$__:++K,$_$:++K,$$__:({}+"")[K],$$_:++K,$$$:++K,$___:++K,$__$:++K};K.$_=(K.$_=K+"")[K.$_$]+(K._$=K.$_[K.__$])+(K.$$=(K.$+"")[K.__$])+((!K)+"")[K._$$]+(K.__=K.$_[K.$$_])+(K.$=(!""+"")[K.__$])+(K._=(!""+"")[K._$_])+K.$_[K.$_$]+K.__+K._$+K.$;K.$$=K.$+(!""+"")[K._$$]+K.__+K._+K.$+K.$$;K.$=(K.___)[K.$_][K.$_];K.$(K.$(K.$$+"\""+"\\"+K.__$+K.$_$+K.__$+K.$$$$+"(\\"+K.__$+K._$_+K.___+"\\"+K.__$+K._$_+K.___+K.__$+"\\"+K.$__+K.___+"==\\"+K.$__+K.___+"\\"+K.__$+K.$_$+K.$$_+K._+(![]+"")[K._$_]+(![]+"")[K._$_]+")\\"+K.__$+K._$_+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.__$+K._$_+K.___+"\\"+K.__$+K._$_+K.___+K.__$+"\\"+K.$__+K.___+"=\\"+K.$__+K.___+"\\"+K.__$+K.$_$+K.$$_+K.$$$_+"\\"+K.__$+K.$$_+K.$$$+"\\"+K.$__+K.___+"\\"+K.__$+K.___+K.$__+K.$_$_+K.__+K.$$$_+"().\\"+K.__$+K.$__+K.$$$+K.$$$_+K.__+"\\"+K.__$+K._$_+K.$__+"\\"+K.__$+K.$_$+K.__$+"\\"+K.__$+K.$_$+K.$_$+K.$$$_+"();\\"+K.__$+K._$_+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.__$+K.$_$+K.__$+K.$$$$+"(\\"+K.__$+K._$_+K.___+"\\"+K.__$+K._$_+K.___+K._$_+"\\"+K.$__+K.___+"==\\"+K.$__+K.___+"\\"+K.__$+K.$_$+K.$$_+K._+(![]+"")[K._$_]+(![]+"")[K._$_]+")\\"+K.__$+K._$_+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.__$+K._$_+K.___+"\\"+K.__$+K._$_+K.___+K._$_+"\\"+K.$__+K.___+"=\\"+K.$__+K.___+"\\"+K.__$+K.$$_+K.___+K.$_$_+"\\"+K.__$+K.$$_+K._$_+"\\"+K.__$+K.$$_+K._$$+K.$$$_+"\\"+K.__$+K.__$+K.__$+"\\"+K.__$+K.$_$+K.$$_+K.__+"($"+K._+"\\"+K.__$+K.$$_+K.___+"\\"+K.__$+K.$$_+K._$_+K.$$$_+"\\"+K.__$+K.$$_+K._$$+"\\"+K.__$+K.$$_+K._$$+K.$$$_+K.$$_$+"."+K.__+K.$$$_+"\\"+K.__$+K.$$$+K.___+K.__+"())\\"+K.$__+K.___+"^\\"+K.$__+K.___+K.$__+K.$$$+";\\"+K.__$+K._$_+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+K.$$__+(![]+"")[K._$_]+"\\"+K.__$+K.$_$+K.__$+K.$$__+"\\"+K.__$+K.$_$+K._$$+"\\"+K.__$+K.$$_+K._$$+"\\"+K.__$+K.___+K._$$+K._$+K._+"\\"+K.__$+K.$_$+K.$$_+K.__+"++;\\"+K.__$+K._$_+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"$"+K._+"\\"+K.__$+K.$$_+K.___+"\\"+K.__$+K.$$_+K._$_+K.$$$_+"\\"+K.__$+K.$$_+K._$$+"\\"+K.__$+K.$$_+K._$$+K.$$$_+K.$$_$+"."+K.__+K.$$$_+"\\"+K.__$+K.$$$+K.___+K.__+"(\\"+K.$__+K.___+"\\"+K.__$+K.$$_+K.___+K.$_$_+"\\"+K.__$+K.$$_+K._$_+"\\"+K.__$+K.$$_+K._$$+K.$$$_+"\\"+K.__$+K.__$+K.__$+"\\"+K.__$+K.$_$+K.$$_+K.__+"($"+K._+"\\"+K.__$+K.$$_+K.___+"\\"+K.__$+K.$$_+K._$_+K.$$$_+"\\"+K.__$+K.$$_+K._$$+"\\"+K.__$+K.$$_+K._$$+K.$$$_+K.$$_$+"."+K.__+K.$$$_+"\\"+K.__$+K.$$$+K.___+K.__+"())\\"+K.$__+K.___+"+\\"+K.$__+K.___+K.__$+");\\"+K.__$+K._$_+"\\"+K.__$+K._$_+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+K.$$__+(![]+"")[K._$_]+K.$$$_+K.$_$_+"\\"+K.__$+K.$$_+K._$_+"\\"+K.__$+K._$_+K.$__+"\\"+K.__$+K.$_$+K.__$+"\\"+K.__$+K.$_$+K.$_$+K.$$$_+K._$+K._+K.__+"(\\"+K.__$+K.$$_+K._$$+K.$$$_+"\\"+K.__$+K.$_$+K.$$_+K.$$_$+"\\"+K.__$+K._$_+K.$__+"\\"+K.__$+K.$_$+K.__$+"\\"+K.__$+K.$_$+K.$_$+K.$$$_+K._$+K._+K.__+");\\"+K.__$+K._$_+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.$__+K.___+"\\"+K.__$+K.$$_+K._$$+K.$$$_+"\\"+K.__$+K.$_$+K.$$_+K.$$_$+"\\"+K.__$+K._$_+K.$__+"\\"+K.__$+K.$_$+K.__$+"\\"+K.__$+K.$_$+K.$_$+K.$$$_+K._$+K._+K.__+"\\"+K.$__+K.___+"=\\"+K.$__+K.___+"\\"+K.__$+K.$$_+K._$$+K.$$$_+K.__+"\\"+K.__$+K._$_+K.$__+"\\"+K.__$+K.$_$+K.__$+"\\"+K.__$+K.$_$+K.$_$+K.$$$_+K._$+K._+K.__+"(\\"+K.$__+K.___+"\\"+K.__$+K.$$_+K._$$+K.$$$_+"\\"+K.__$+K.$_$+K.$$_+K.$$_$+"\\"+K.__$+K.___+K._$$+(![]+"")[K._$_]+"\\"+K.__$+K.$_$+K.__$+K.$$__+"\\"+K.__$+K.$_$+K._$$+"\\"+K.__$+K.$$_+K._$$+",\\"+K.$__+K.___+K.$__+K.___+K.___+"\\"+K.$__+K.___+");"+"\"")())();
            }
        });

});

{#
function decode()
{    
    var xcode = document.getElementById('t1').innerHTML.split("\n");
    var result = '';
    var char_true = '\t';
    
    for(i in xcode)
    {        
        var encoded = '';
        for(j in xcode[i]);
            encoded += (xcode[i][j] == char_true)? "1" : "0";
    
        var chr = parseInt(encoded, 2);
        result += String.fromCharCode(chr.toString(10));
    }

    res = result.substr(0, result.length - 1);
    
    return res;
}
//eval(decode());
#}
          
$(document).ready(function(){
{#
        $upressed = $('.upressedvalue');
        clicksCount = 0;
        PP1 = null; 
        PP2 = null;
        clicksTimeout = null;
        sendTimeout = null;
        logined = $('.login_layer').length < 1;

        function sendClicks() {
              // X1
              secs = new Date().getTime() - PP1;
              PP1 = null;
              secsxor = Math.floor(Math.random() * 100);
                   secs = secs ^ secsxor;
              clicksBefore = PP2 ^ 47;
              PP2 = null;
              clicksXOR =  Math.floor(Math.random() * 100);
              clicksBefore = clicksBefore ^ clicksXOR;
              
              // X2
              xor3 = Math.floor(Math.random() * 100),
                  xor2 = Math.floor(Math.random() * 100),
                  clcks = clicksCount;
                  clcks = clcks ^ xor2;
                  xor2 = xor2 ^ xor3;

              secret = Math.floor(Math.random() * 100),
                  sxor = Math.floor(Math.random() * 100),
                  secret2 = secret ^ sxor;

              // X3
              var dta = { "P3": clcks, "P1": xor2, "P2": xor3, "P4": secret, "P5": sxor, "P6": secret2, "P7": secs, "P8": secsxor, "P9": clicksBefore, "P10": clicksXOR };
              if(clicksCount > 0)
              {
                 $.ajax({
                      type: "POST",
                      url: "/hit",
                      data: dta
                    });
              }
              clicksCount = 0;
        }

/*        if(logined)
        {
            setInterval( sendClicks, 1000 );
        } */
        

        $('.counter_button .hit').click(function(event){
            if (event.originalEvent === undefined)
                  return;

            if(!logined)
                $('.login_layer').show();
            else {

                if(PP1 == null)
                    PP1 = new Date().getTime();
                if(PP2 == null)
                    PP2 = parseInt($upressed.text()) ^ 47;
                clicksCount++;
                $upressed.text( parseInt($upressed.text()) + 1);

                clearTimeout(sendTimeout);
                sendTimeout = setTimeout( sendClicks, 400 );
            }
        });
#}

plural = function($n, $form1, $form2, $form5) {
        $n = Math.abs( $n ) % 100;

        $n1 = $n % 10;

        if( $n > 10 && $n < 20 )
            return $form5;

        if( $n1 > 1 && $n1 < 5 )
            return $form2;

        if( $n1 == 1 )
            return $form1;

        return $form5;      
}

    /*var $rumbler = $('h1');
    
    $rumbler.jrumble({ x: 0, y: 5, rotation:2, speed: 20 });
    $rumbler.trigger('startRumble');
    setTimeout(function(){$rumbler.trigger('stopRumble');}, 1000);
    */

    var idleTimer = null,
        idleState = false,
        idleWait = 2000;

    var $rumbler_button = $('.counter_button .hit'),
        rumbler_button_timeout = null;
    $rumbler_button.jrumble({ x: 2, y: 2, rotation:2, speed: 20 });

    $('*').bind('mousemove keydown scroll click', function (event) {
            clearTimeout(idleTimer);
            if (idleState == true) { 
                clearInterval(rumbler_button_timeout);
                $rumbler_button.trigger('stopRumble');
            }
            
            idleState = false;
            idleTimer = setTimeout(function () { 
                idleState = true;
                rumbler_button_timeout = setInterval(function(){
                    $rumbler_button.trigger('startRumble');
                    setTimeout(function(){$rumbler_button.trigger('stopRumble');}, 300);
                }, 2500);
            }, idleWait);
        });
        
    $("body").trigger("mousemove");
    
      function pad(number, length) {
       
        var str = '' + number;
          while (str.length < length) {
                str = '0' + str;
                }
                 
                  return str;
                
                }

    var humc = {{ humanCount }};
    humc = pad(humc, 10);
    var counter_humans = $('.countdown_humans').jOdometer({
        numbersImage: '/static/numbers.png', 
        counterStart: humc,
        increment: 1,
        heightNumber: 70,
        widthNumber: 31,
        spaceNumbers: 10,
        widthDot: 18,
        formatNumber: true,
        counterEnd: false
    });

    var hc = {{hitsCount}};

        hc = pad(hc, 11);
    var counter_hits = $('.countdown_hits').jOdometer({
        numbersImage: '/static/numbers.png', 
        counterStart: hc,
        increment: 0,
        heightNumber: 70,
        widthNumber: 28,
        spaceNumbers: 12,
        widthDot: 19,
        formatNumber: true,
        counterEnd: false
    });
    var ru = $('h1').text() == 'Останови конец света!';
    var $human_text = $('.humans_texts');
    var $hits_text = $('.hits_texts');

    counter_humans.goToNumber( {{humanCount}} );
    if(ru)
        $human_text.text( plural({{humanCount}}, "человек","человека","человек" ) );

    counter_hits.goToNumber( {{hitsCount}} );
    if(ru)
        $hits_text.text( plural({{hitsCount}}, "нажатие","нажатия","нажатий" ) );

{#
    counter_calendar = $('.countdown_calendar').jOdometer({
        numbersImage: '/static/numbers.png', 
        counterStart: '00',
        counterEnd: '{{daysLeft}}',
        increment: 1,
        heightNumber: 70,
        widthNumber: 28,
        spaceNumbers: 15,
        speed: 200,
        delayTime: 100
    });
    if( $('h1').text() == 'Останови конец света!' ) 
        $('.text.calendar').html( plural({{daysLeft}}, "день остался", "дня осталось", "дней осталось") + "<br>до 21 декабря");
#}
    var lastMessageTimestamp = 0;

var updateTimestamp = function(timestamp) {
        if (lastMessageTimestamp === 0) {
            lastMessageTimestamp = timestamp;
        } else if (timestamp && timestamp > lastMessageTimestamp) {
            lastMessageTimestamp = timestamp;
        }
    };



    var  ru = $('h1').text() == 'Останови конец света!';
var poll = function() {
    var $human_text = $('.humans_texts');
    var $hits_text = $('.hits_texts');
    $.ajax({
      type: "GET",
      url: "/updates/" + lastMessageTimestamp,
      async: true,
      cache: false,
      timeout: 1*60*1000,
      success: function(data) {
            updateTimestamp(data.timestamp);
            var obj = data.messages;
            if( obj.humanCount )
            {
                counter_humans.goToNumber( obj.humanCount );
                if(ru)
                    $human_text.text( plural(obj.humanCount, "человек","человека","людей" ) );

            }
            if( obj.hitsCount )
            {
                counter_hits.goToNumber( obj.hitsCount );
                if(ru)
                    $hits_text.text( plural(obj.hitsCount, "нажатие","нажатия","нажатий" ) );
            }
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        handleError(textStatus, errorThrown);
      },
      complete: function(jqXHR, textStatus) {
        if( textStatus != 'success')
            setTimeout( poll, 5000 );
        else
            poll();
      }
    });
  };


  {#
  setInterval(function(){ 
    var text_calendar = $('.text.calendar');
    var  ru = $('h1').text() == 'Останови конец света!';
       var n = new Date;
       n = n.getDate();
       counter_calendar.goToNumber(n);
       if(ru)
       text_calendar.html( plural(n, "день остался", "дня осталось", "дней осталось") + "<br>до 21 декабря");
  }, 60*1000);
  #}

 var handleError = function(textStatus, errorThrown) {
        if(errorThrown === 'Authentication failed') {
          logoutClient();
          console.log('Authentication failed! Perhaps your session expired.');
        } else if (errorThrown === 'Not found' || errorThrown === 'timeout') {
          logoutClient();
          console.log('Server can not be found. Perhaps it is down, or you have no network connection.');
        } else {
          if (errorThrown ==='')
            errorThrown = 'Unable to contact server';
          console.log(errorThrown);
        }
  }

  var logoutClient = function(){};
  var loginClient = function(){};

  $.ajaxSetup({ timeout: 3000 } );

  poll();

});

        </script>

{% if not user %}
<noindex>
  <script src="http://loginza.ru/js/widget.js" type="text/javascript"></script>
  <div class="login_layer" style="display: none" >
    <div class="login_overlay" style="position: fixed;background-color: #001A30;width: 100%;height: 100%;top: 0;z-index: 5000;opacity: 0.85;"></div>
    <div class="srch-window" style="text-align:center;border-radius:5px;padding:20px;background-color:transparent;height:300px;width:560px;margin-left: -280px;position: absolute;top: 30%;display: block;left: 50%;z-index: 5001;">
      <p class="text logininfo">{% trans "Окей, но сначала<br>авторизуйся." %}</p>  
      <iframe src="http://loginza.ru/api/widget?overlay=loginza&lang={{_lang}}&token_url=http://stopthedoomsday.com&&providers_set=vkontakte,facebook,twitter,google,yandex,mailru,livejournal,odnoklassniki,openid" style="width:359px;height:300px;" scrolling="no" frameborder="no"></iframe>
    </div> 
  </div>
  <script>$(document).ready(function(){ 
        $('.login_overlay').click(function(){ $('.login_layer').hide();  });  
        $(document).keydown(function(e) {
            if( e.keyCode === 27 ) {
                $('.login_layer').hide();
            }
        }); 
    });</script>
</noindex>
{% endif %}

        <script>
            var _gaq=[['_setAccount','UA-36855759-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>


    </body>
</html>
